/*.doc_programa {
  border: 1px solid black;
}

.tbl {
  margin: 0 5px 5px 5px;
}

.title {
  padding: 10px 10px 3px 10px;
  vertical-align: middle;
}

.subtitle {
  padding: : 0px 5px 20px 10px;
  vertical-align: middle;
}*/