{# Load the tag library #}
{% load bootstrap3 %}


<div class="modal-header">
  <button  id="cerrar2" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Actualizar asignatura {{ asignatura.codigo }} - {{ asignatura.nombre }}</h4>
</div>

<div class="modal-body">
	<form action="/contenidos/actualizar-asignatura/{{ asignatura.pk }}/" method="POST"> {% csrf_token %}
		<div class="row">{% bootstrap_form form %}</div>
		<!-- <div class="row">{{ form }}</div> -->
		
		<br>
		<input type="submit" value="Guardar" class="btn btn-success">
	</form>
</div>

 <div class="modal-footer">
   <button  id="cerrar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
 </div>


{% block js %}
<script>
	$('#cerrar').on('click', function(){
		location.reload();
	});
	$('#cerrar2').on('click', function(){
		location.reload();
	});
</script>
{% endblock %}