{% load bootstrap3 %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="cerrar"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Agregar nueva carrera universitaria</h4>
</div>

<form action="{% url 'contenidos:carreraCreate' %}" method="POST"> {% csrf_token %}
			<form role="form">
	<div class="modal-body">
		
		<div class="row">{% bootstrap_form form %}</div>
	<div class="modal-footer">
	  <input type="submit" value="Guardar" class="btn btn-primary" >
	  <button type="button" class="btn btn-danger" data-dismiss="modal" id="cerrar2">Cerrar</button>
	</div>
</form>


{% block js %}
<script>
	$('#cerrar').on('click', function(){
		location.reload();
	});
	$('#cerrar2').on('click', function(){
		location.reload();
	});
</script>
{% endblock %}