<div class="modal-header">
  <button id="cerrar" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Eliminar carrera {{ carrera.carrera }}</h4>
</div>

<div class="modal-body">
	<h5>¿Está seguro que desea eliminar la carrera <strong> {{ carrera.codigo_carrera }} - {{ carrera.carrera }}</strong>?</h5>
	<form action="/contenidos/eliminar-carrera/{{ carrera.pk }}/" method="POST"> {% csrf_token %}
		<input type="submit" value="Eliminar" class="btn btn-default">
	</form>
</div>

 <div class="modal-footer">
   <button  id="cerrar2" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
 </div>

{% block js %}
<script>
	$('#cerrar').on('click', function(){
		location.reload();
	});
	$('#cerrar2').on('click', function(){
		location.reload();
	});
</script>
{% endblock %}