<div class="modal-header">
  <button  id="cerrar2" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Agregar nueva sección</h4>
</div>

<form action="{% url 'contenidos:cursoCreate' %}" method="POST"> {% csrf_token %}
<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label for="">Asignatura</label>
					<select name="asignatura" id="asignatura" class="form-control"></select>
				</div>
			</div>
			<div class="col-md-1">
				<div class="form-group">
					<label for="">NRC</label>
					<input type="text" name="nrc" class="form-control" required="">					
				</div>
			</div>
			<div class="col-md-3">
				<div class="form-group">
					<label for="">Docente</label>
					<select name="docente" id="docente" class="form-control"></select>
				</div>
			</div>
			<div class="col-md-2">
				<div class="form-group">
					<label for="">Regimen</label>
					<select name="regimen" class="form-control">
						<option value="Diurno">Diurno</option>
						<option value="Vespertino">Vespertino</option>
					</select>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-5">
				<label>Estudiantes</label>
				<select multiple name="estudiantes" id="estudiantes" class="form-control"></select>
			</div>
		</div>
		
		<br>
</div>

 <div class="modal-footer">
	<input type="submit" value="Agregar" class="btn btn-success">
   <button  id="cerrar" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
 </div>
</form>


{% block js %}
<script>
	$('#cerrar').on('click', function(){
		location.reload();
	});
	$('#cerrar2').on('click', function(){
		location.reload();
	});
</script>
<script>
	// Get asignaturas
	$.ajax({
		method: 'GET',
		url: "{% url 'contenidos:get_asignatura' %}",
		success: function(data){
			var html = '<option value="" disabled="" selected="selected">Seleccione Asignatura</option>'
			// var html5 = ""
			for (var i = 0; i<data.length; i++){
			  html += '<option value="'+data[i].pk+'">'+data[i].fields.nombre+' - '+data[i].fields.codigo+'</option>'
			}
			$('#asignatura').html(html)
		},
		error: function(error_data){
			console.log('error')
			// console.log(error_data)

		}
	});

	// Get Docentes
	$.ajax({
		method: 'GET',
		url: "{% url 'contenidos:get_usuario' %}",
		success: function(data){
			var html = '<option value="" disabled="" selected="selected">Seleccione Docente</option>'
			// var html5 = ""
			for (var i = 0; i<data.length; i++){
			  html += '<option value="'+data[i].pk+'">'+data[i].fields.apellido1+' '+data[i].fields.apellido2+', '+data[i].fields.nombres+'</option>'
			}
			$('#docente').html(html)
		},
		error: function(error_data){
			console.log('error')
			// console.log(error_data)

		}
	});

	// Get Estudiantes
	$.ajax({
		method: 'GET',
		url: "{% url 'usuarios:get_estudiantes' %}",
		success: function(data){
			var html = ''
			// var html5 = ""
			for (var i = 0; i<data.length; i++){
			  html += '<option value="'+data[i].pk+'">'+data[i].fields.rut+' - '+data[i].fields.apellido1+' '+data[i].fields.apellido2+', '+data[i].fields.nombre1+' '+data[i].fields.nombre2+''+data[i].fields.nombre3+'</option>'
			}
			$('#estudiantes').html(html)
		},
		error: function(error_data){
			console.log('error')
			// console.log(error_data)

		}
	});
</script>
{% endblock %}