{% extends 'login/registation/base.html' %}

{% block title %} Recuperar contraseña {% endblock %}

{% block content %}
<div class="row">
  	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Nueva contraseña</h2>
		        <div class="clearfix"></div>
			</div>
			<div class="x_content">
				{% if validlink %}

				<form method="post">
				{% csrf_token %}

				{{ form.new_password1.errors }}
				<label for="id_new_password1">Nueva contraseña:</label>
				{{ form.new_password1 }}

				{{ form.new_password2.errors }}
				<label for="id_new_password2">Confirme contraseña:</label>{{ form.new_password2 }}
				<input type="submit" value="Cambiar mi contraseña" class="btn btn-success">
				</form>

				{% else %}

				<h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

				{% endif %}
			</div>
		</div>
	</div>
</div>
	

{% endblock %}