{% extends 'login/registation/base.html' %}

{% block title %} Recuperar contraseña {% endblock %}

{% block content %}
<div class="row">
  	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>Reestablecer contraseña</h2>
		        <div class="clearfix"></div>
			</div>
			<div class="x_content">
				<h1 class="text-center">Su contraseña se reestableció correctamente</h1>
				<p class="text-center"><a href="{% url 'login' %}" class="btn btn-success" >Iniciar sesión</a></p>
			</div>
		</div>
	</div>
</div>
	

{% endblock %}
